.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.regis-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.box {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 7%;
}

.box-income-modal {
    display: flex;
    gap: 7px;
    margin-top: 20px;
}

.profile-details {
    display: block;
    margin: 10px 0;
}

.btn-group {
    width: 100px;
}

.btn-group-income-modal {
    width: 100%;
}