.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.regis-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    margin-top: 40px;
    justify-content: center;
}

.box {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 7%;
}

.box-income-modal {
    display: flex;
    gap: 7px;
    margin-top: 20px;
}

.box-delete-scheduler {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.box-detail-scheduler {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
}

.profile-details {
    display: flex;
    margin: 10px 0;
}

.btn-group {
    width: 100px;
}

.btn-group-income-modal {
    width: 100%;
}

.btn-group-delete-scheduler {
    width: 25%;
}

.card {
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    margin: 20px 0;
}

.card-action {
    position: absolute;
    right: 10px;
    top: 10px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 25px;
}

.col  {
    padding: 20px;
    background-color: #F4F5F7;
    border-radius: 10px;
}