.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}